body {
  background-color: #101820FF;
}

.App {
  text-align: center;
  text-align: center;
  border: 4px solid;
  border-color: #F2AA4CFF white #F2AA4CFF white ;
  position: absolute;
  top: 5%;
  left: 20%;
  width: 60%;
  padding: 30px 20px;
  border-radius: 5px;
}

.App-header {
  background-color: #F2AA4CFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  background-color: #F2AA4CFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
height: 30px;
margin-top: 20px;
margin-bottom: 30px;
color: black;
}

img {
  height: 100px;
  margin-bottom: 20px;
}

.all-baby-names {
  background-color: #F2AA4CFF;
  margin: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.f, .m {
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  font-weight: bolder;
  margin: 5px;
  font-size: 19px;
  padding: 2px 8px;
}

.f /*yin*/{
  background-color: black;
  color: white;
}

.m /*yang*/{
  background-color:white;
  color: black;
}